{{ $about := .Site.Data.about }}

<section id="about" class="pink" style="padding-right: 8%;">
    <h2 class="heading">{{ $about.title }}</h2>
    <p style="color: #343b3f; text-align: justify;">{{ $about.text }}</p>
    <!--div class="row" style="text-align: center; padding-top: 30px;">
        <div class="col-md">
            <i style="font-size: xx-large; color: #5b676fb7;" class="fas fa-code"></i>
        </div>
        <div class="col-md">
            <i style="font-size: xx-large; color: #5b676fb7;" class="fas fa-music"></i>
        </div>
        <div class="col-md">
            <i style="font-size: xx-large; color: #5b676fb7;" class="fas fa-comment-alt"></i>
        </div>
    </div-->
</section>